<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page">
    <head th:fragment="head">
        <meta charset="UTF-8" />
        <title>control rede backoffice | <th:block th:include="this :: title" /></title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:600" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.min.0.98.0.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    </head>

    <body>
        <header>
          <div class="navbar-fixed">
            <nav>
              <div class="nav-wrapper container">
                <a href="/" class="brand-logo">control rede backoffice</a>
                <ul class="right">
                  <li>
                    <a class='dropdown-button' href='/pv-permissions/'
                        data-beloworigin="true"
                        data-constrainwidth="false"
                        data-activates='dropdown-pv-permissions'>permissão de pvs</a>
                    <ul id='dropdown-pv-permissions' class='dropdown-content'>
                      <li><a href="/pv-permissions/primary">usuários primários</a></li>
                      <li><a href="/pv-permissions/secondary">usuários secundários</a></li>
                    </ul>
                  </li>
                  <li>
                  <form th:action="@{/logout}" method="post">
                    <button id="logout-btn" type="submit">logout</button>
                  </form>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </header>
        <main class="container">
            <th:block th:include="this :: content"/>
        </main>
        <footer></footer>

        <script type="application/javascript" src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
        <script type="application/javascript" th:src="@{/js/materialize.min.0.98.0.js}"></script>
        <script>
            (function($) {
                $('select').material_select();
            })(jQuery);
        </script>
        <th:block th:include="this :: scripts"/>
    </body>
</html>
