<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
    <head>
		<meta charset="UTF-8" />
		<title th:text="${'control rede backoffice | ' + title}"></title>
		<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons" />
		<link rel="stylesheet" href="/webjars/materializecss/0.97.7/css/materialize.min.css" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<th:block th:include="this :: head"></th:block>
	</head>

    <body>
        <header>
			 <div class="navbar-fixed">
			    <nav>
			      <div class="nav-wrapper container">
			        <a href="#!" class="brand-logo">control rede | backoffice</a>
			        <ul class="right">
			          <li><a href="/">principal</a></li>
			        </ul>
			      </div>
			    </nav>
			  </div>
		</header>
        <main>
        	<th:block th:include="this :: content"/>
        </main>
        <th:block th:include="this :: scripts"/>
    </body>
</html>