<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page">
    <head th:fragment="head">
        <meta charset="UTF-8" />
        <title>control rede backoffice | <th:block th:include="this :: title" /></title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:600" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="/webjars/materializecss/0.97.7/css/materialize.min.css" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    </head>

    <body>
        <main class="container">
            <th:block th:include="this :: content"/>
        </main>
    </body>
</html>
