html {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 16px;
}

nav {
  background-color: #00b8b6;
}

nav .brand-logo {
  font-size: 1.56em;
}

.btn {
  background-color: #f9e000;
  color: #000;
  text-transform: none;
}

.btn:hover {
  background-color: #f9e000;
}

.row {
  margin-top: 30px;
}

td, th {
  padding: 15px 23px;
}

.pagination li.active {
    background-color: #00b8b6;
}

.message {
    padding: 5px 10px;
}

#login-panel {
    margin: 20% auto 0;
}

#logout-btn {
    background-color: transparent;
    font-size: 1rem;
    border: 0;
    padding: 0 15px;
    transition: background-color .3s;
}
#logout-btn:hover {
    background-color: rgba(0,0,0,0.1);
}
