<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Home page</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <h2>Products</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Code</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pv: ${pvs}">
                    <td th:text="${pv.id}"></td>
                    <td th:text="${pv.code}"></td>
                    <td>
                        <table border="1">
                            <tr th:each="user: ${pv.users}">
                                <td th:text="${user.email}"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
